<footer class="site-footer">
  <div class="wrapper">
    <div class="container">
      <div class="row">
            <h3>Sponsors:</h3>
            <div class="col-md-1" style='margin-top: -10px'>
              {% include RAS_logo.html %}
            </div>
            <div class="col-md-2 col-xs-7">
            <a href="http://www.mdpi.com/journal/galaxies"><img src="{{ site.baseurl }}/resources/galaxies_partnership-01.png" class="img-responsive" alt="Galaxies by MDPI"></a>
            </div>
            <div class="col-md-2 col-xs-7">
            <a href="https://www.nature.com/natastron/?WT.mc_id=CON_NAST_1705_Gas_in_Galaxy_Dynamics"><img src="{{ site.baseurl }}/resources/Nature-Astronomy-CMYK.png" class="img-responsive" alt="Nature Astronomy"></a>
            </div>
            <div class='col-md-3 col-xs-7'>
              <a href="http://heritagemalta.org"><img class="img-responsive" src="{{ site.baseurl }}/resources/heritage_logo.png" alt="Heritage Malta"></a>
            </div>
            <div class='col-md-2 winemaker col-xs-7'>
              <a href="/"><img class="img-responsive" src="{{ site.baseurl }}/resources/Delicata_Family_Winemaker_logo_small.jpg" alt="Delicata Family Winemaker"></a>
            </div>
          </div>
      <div class="row">
        <div class="col-sm-12">
          <h3 class="footer-heading">{{ site.title }}</h3>
          <p style='text-align: left'>Cover image: Joseph Caruana (University of Malta), GLIMPSE
          <br>Questions/Comments: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</footer>
