
<head>
  <title>Gas in Galaxies</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Custom CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

<div id="topcontainer" class="container-fluid text-center">
  <h1>{{ site.title }}</h1> <h2> October 2017 - Malta </h2>
</div>

<div id="navbar">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a href="#page-top" class="page-scroll navbar-brand">Home</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% assign sorted_pages = site.sections | sort:"order" %}
          {% for page in sorted_pages %}
            <li>
              <a class="page-scroll" href="#{{page.title | downcase}}">{{ page.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div><!-- /.navbar -->
<div class="row">
  <div id="topBlock" class='row-xs-12 hidden'></div>
</div>





</head>

