
<head>
  <title>Gas in Galaxies</title>
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/resources/favicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="{{ site.baseurl }}/css/custom.css?updated=030317" rel="stylesheet">

<div id="topcontainer" class="container-fluid text-center">
  <span class='sitetitle'><h1 class='sitetitle'>{{ site.title | slice: 0,18 }}<br>
        {{ site.title | slice: 18,16 }}</h1>
  </span>
</div>

<div id="navbar">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a href="{{ site.baseurl }}/" class="page-scroll navbar-brand">Home</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% assign sorted_pages = site.pages | sort:"collection_order"  %}
          {% for _page in sorted_pages %}
            {% if _page.title != null %}
              <li>
                <a href="{{ site.baseurl }}{{_page.url}}">{{ _page.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="nav navbar-nav nav-align-right">
          {% assign sorted_pages = site.collections[page.collection_order].docs | sort:"order"  %}
          {% for _page in sorted_pages %}
            <li>
              <a class="page-scroll" href="#{{_page.link | downcase}}">{{ _page.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div><!-- /.navbar -->
<div class="row">
  <div id="topBlock" class='row-xs-12 hidden'></div>
</div>

</head>

