
<head>
  <title>Gas in Galaxies</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 0px;
  }
  </style>

    <!-- Custom CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">


<div class="container-fluid" style="background-image:url(/resources/MaltaParadisebeach.jpg);color:#fff;height:400px;background-size: 100%;">
<p><h1>{{ site.title }}</h1> <h2> October 2017 - Malta </h2></p>
</div>

<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="400">
  <ul class="nav navbar-nav">
      <li class="hidden">
          <a class="page-scroll" href="#page-top"></a>
      </li>
      <li>
          <a class="page-scroll" href="#">Home</a>
      </li>
      {% for post in site.posts reversed %}
        <li>
          <a class="page-scroll" href="#{{post.title | downcase}}">{{ post.title }}</a>
        </li>
      {% endfor %}


  </ul>
</nav>


</head>

